* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fc80e7;
    color: #222;
    line-height: 1.7;
}

/* HERO */
.hero {
    padding: 90px 20px;
    text-align: center;
    background: linear-gradient(135deg, #1c1c1c, #3a3a3a);
    color: white;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero p {
    max-width: 750px;
    margin: 15px auto;
}

.hero-tags span {
    display: inline-block;
    margin: 6px;
    padding: 6px 14px;
    background: rgba(255,255,255,0.15);
    border-radius: 20px;
    font-size: 0.85rem;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    background: #ffcc00;
    color: #000;
    padding: 14px 26px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
}

/* SECTIONS */
section {
    padding: 70px 20px;
    text-align: center;
}

.section-desc {
    max-width: 750px;
    margin: 10px auto 35px;
    color: #555;
}

/* BUSINESS CARDS */
.biz-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 25px;
}

.biz-card {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 16px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.biz-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.12);
}

.biz-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

.biz-card h3 {
    margin-bottom: 10px;
}
.biz-card.etc {
    background: #ede9e9;
    color: rgb(20, 20, 20);
    text-align: center;
}

.biz-card.etc h3 {
    margin-bottom: 10px;
}

.biz-card.etc p {
    font-size: 0.95rem;
    opacity: 0.9;
}


/* WHY */
.why ul {
    max-width: 700px;
    margin: auto;
    list-style: none;
    text-align: left;
}

.why li {
    margin: 12px 0;
}

/* CONTACT */
.contact form {
    max-width: 500px;
    margin: 25px auto;
}

.contact textarea {
    width: 100%;
    height: 140px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.contact button {
    margin-top: 15px;
    padding: 12px 22px;
    background: #333;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

footer {
    background: #111;
    color: #aaa;
    text-align: center;
    padding: 15px;
}
